.login-page{

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

background:linear-gradient(135deg,#770f91,#d725eb);

}

.login-card{

width:430px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.25);

text-align:center;

}

.login-card h1{

color:#910f84;

margin-bottom:10px;

}

.login-card p{

margin-bottom:25px;

color:#555;

}

.login-card form{

display:flex;

flex-direction:column;

gap:18px;

}

.login-card input{

padding:13px;

border-radius:8px;

border:1px solid #ccc;

font-size:15px;

}

.show-password{

display:flex;

align-items:center;

gap:10px;

font-size:15px;

}

.login-card button{

padding:13px;

background:#910f77;

color:white;

border:none;

border-radius:8px;

font-size:17px;

cursor:pointer;

transition:.3s;

}

.login-card button:hover{

background:#eb25d1;

}

.login-card a{

display:block;

margin-top:20px;

text-decoration:none;

font-weight:bold;

color:#910f8b;

}